@use "src/shared/style_lib.scss" as sl;
//TODO: add some gosh dang background 

// .homepage-container {

// }


.stdw { //standard width
    max-width: 1300px;
    margin:auto;
}
.fllw { //full width
    width: 100%;
}

.UPPER { 
    background-color: sl.$lighter_blue;
}
.LOWER {
    color: sl.$light_white;
}


/* inner components  */

.title-card {
    max-width: 1500px;
    margin:auto;
    color: sl.$light_orange;
    text-align: left;
    margin-left: 100px;
}
.title-card .title-main {
    font-size: 5em;
}
.title-card .tagline {
    font-size: 2em;
}

.spacer {
    min-height: 15vh;
}

.wave-divider {
    width: 100%;

}

.wave-divider-img {
    width: 100%;
    max-height: 300px;
    margin-top: -3px;
}


/*construction sign */

.construction-wrap { 
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80vw;
    max-width: 1200px;
}

.construction-tape {
    margin: auto;
    height: 30px;
    width: 100%;
    background: repeating-linear-gradient(
        45deg,
        black,
        black 20px,
        yellow 20px,
        yellow 40px,
    );
}
.construction-outer {
    width: 5px;
    height: 100px;
    background-color: black;
}

.construction-inner {
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.822);
    color: black;
}
.construction-inner>div {
    margin: auto;
    padding: 10px;
}
