@use "shared/style_lib.scss" as sl;


.navbar {
    background: sl.$light_blue;
    position: absolute;
    width: 100%;
}

.mainLogo {
    // height: 30px;
    width: 50px;
    margin-top: -5px;
}