@use "src/shared/style_lib.scss" as sl;

.App {
  text-align: center;
  height: 100%;
  background-color: sl.$mid_blue;
}

.App-link {
  color: #61dafb;
}


/*  
Adding any overarching core structure here to keep it all in one place 
*/

/* == CORE STYLING == */
.stdw { //standard width
  max-width: 1300px;
  margin:auto;
  padding: 10px;
}
.ltxt { //standard width
  text-align: left;
}
.fllw { //full width
  width: 100%;
}

.flex {
  display: flex;
}